<div id="main-page">
  <nav id="main-nav">
    <ul>
      <li><a routerLink="/home" routerLinkActive="active">Inicio</a></li>
      <li><a routerLink="/about" routerLinkActive="active">About</a></li>
      <li><a routerLink="/todos" routerLinkActive="active">Todos</a></li>
      <li><a routerLink="/personas" routerLinkActive="active">Personas</a></li>
      <li><a routerLink="/partidos" routerLinkActive="active">Partidos</a></li>
      <li><a routerLink="/salidas" routerLinkActive="active">Salidas</a></li>
      <li><a routerLink="/eventos" routerLinkActive="active">Eventos</a></li>
      <li><a routerLink="/formulario" routerLinkActive="active">Formulario</a></li>
      <li><a routerLink="/reactivos" routerLinkActive="active">Formularios Reactivos</a></li>
    </ul>
  </nav>
  <article id="main">
    <router-outlet></router-outlet>
  </article>
</div>
